[include]
  path = .gitconfig.local
[color]
  ui = auto
  diff = auto
  interactive = auto
  status = auto
  branch = auto
[alias]
  st = status -sb
  cm = commit
  cma = commit -a
  br = branch
  co = checkout
  df = diff
  dfc = diff --cached
  dfh = diff HEAD
  pr = pull --rebase
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  lgg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
  lgs = log --stat --abbrev-commit --date=relative
  fix = commit --amend -C HEAD
[gui]
  encoding = utf-8
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  features = side-by-side line-numbers decorations
  side-by-side = true
  line-numbers = true
  navigate = true
  dark = true
  syntax-theme = Monokai Extended Origin
  whitespace-error-style = 22 reverse
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
[core]
  editor = nvim
  quotepath = false
  autocrlf = false
  safecrlf = false
  excludesfile = ~/.gitignore_global
  pager = delta
[i18n]
  commitencoding = UTF-8
[push]
  default = simple
[merge]
  tool = vimdiff
  conflictstyle = diff3
[diff]
  colorMoved = default
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[ghq]
  root = ~/projects
[init]
  templatedir = ~/.git_template
[web]
  browser = open
[browser "edge"]
  cmd = "open -a 'Microsoft Edge.app'"
